// 4
/*
Crear 3 media-queries: uno para mobile con un breakpoint de 320px, otro para tablets de 740px,
y otra que me permita configurar mi propio breakpoint. Aplicarlo a una clase .color que modifique
el color de la font a la que se aplique según el dispositivo.
Crear media-queries usando mixins para que su contenido se adapte a tablets y smartphones
*/

@mixin bp-mobile{
  @media screen and (min-width:320px){
    @content;
  }
}

@mixin bp-tablet{
  @media screen and (min-width:760px){
    @content;
  }
}

@mixin bp-custom($breakpoint){
  @media screen and (min-width:$breakpoint){
    @content;
  }
}

.clase{
  color: red;
  @include bp-mobile{
    color:blue;
  };
  @include bp-mobile{
    color:blue;
  };
  @include bp-custom(600px){
    width: 900px;
  }
}
