// 4
/*
Tomando como referencia este sitio: http://apps.eky.hk/css-triangle-generator/
o este ejemplo: https://css-tricks.com/animation-css-triangles-work/ .
Crear un mixin para generar flechas/triangulos que pueda recibir los siguientes parametros

Color
Tamano
Direccion
*/

@mixin bp-mobile{
  @media screen and (min-width:320px){
    @content;
  }
}

@mixin bp-tablet{
  @media screen and (min-width:760px){
    @content;
  }
}

@mixin bp-custom($breakpoint){
  @media screen and (min-width:$breakpoint){
    @content;
  }
}

.clase{
  color: red;
  @include bp-mobile{
    color:blue;
  };
  @include bp-mobile{
    color:blue;
  };
  @include bp-custom(600px){
    width: 900px;
  }
}